html {
  /* フォントサイズの計算が楽になるように、
  主要なブラウザで 10px になるように設定 */
  font-size: 62.5%;
}

/** 大きな画面では大きな文字で */
@media (min-width: 721px) {
    html {
        font-size: 75%;
    }
}

/*
 * ページ本体
 */
body {
  font-family: "Noto Sans JP", sans-serif;
  color: darkslategray;
  background-color: antiquewhite;
  padding-top: 0.5rem;
  padding-bottom: 0rem;
}

/*
 * ページのヘッダ
 */
header {
  margin-left: 1rem;
  background-color: inherit;
  width: 100%;  /* 右端まで伸ばしておく */
  z-index: 10;  /* 隠されないようにする。10 という値は適当。 */
}

header p {
  margin-top: 0.2rem;
}

/*
 * ページのメインとなる部分
 */
main {
  /* トップのナビと重ならないようにマージンをとる */
  /* margin-top: 6.8rem; */
  margin-left: 1rem;
  margin-right: 1rem;
  /* margin-bottom: 15rem; */
  padding-bottom: 8rem;
}

/*
 * セクション
 */
div.section1 {  /* h1 に続くセクション */
  margin-left: 0.6rem;
}

div.section2 {  /* h2 に続くセクション */
  margin-left: 1.4rem;
}

div.section3 {
  margin-left: 0.6rem;
}

/*
 * 段落
 */
p {
  font-size: 1.6rem;
  /* margin-left: 1rem;
  margin-right: 1rem; */
  margin-bottom: 0.7rem;
}

.section3 p {
  margin-left: 1.5rem;
}

.text-indent {
  margin-left: 1.5rem;
}

.text-indent3 {
  margin-left: 3rem;
}

/*
 * 見出し
 */
h1 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    padding-top: 0.45rem;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    padding-bottom: 0.35rem;
}

h1.title {
  text-align: center;
  background-color: burlywood;
  font-size: 4.5rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  /* padding-top: 0.45rem; */
  padding-top: 0.5rem;
  padding-left: 1.0rem;
  padding-right: 1.0rem;
  padding-bottom: 0.45rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: dashed burlywood;
    border-left: solid burlywood 0.6rem;
    padding-left: 0.8rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* margin-left: 2rem; */
    border-bottom: dotted burlywood;
    padding-left: 0.8rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

a {
  color: #367cf6;
}

header nav td:hover {
  background-color: paleturquoise;
}

footer nav td:hover {
  background-color: paleturquoise;
}

main a:hover {
  background-color: paleturquoise;
}

footer a:hover {
  background-color: paleturquoise;
}

.noto-sans-jp-title {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.noto-serif-jp-text {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*
 * 画像
 */
.post-img {
  object-fit: cover;  /* 表示幅をちょうどカバーするように自動で拡大・縮小 */
}

.resize-img img {
  width: 100%;
}

.auto-shrink img {
  max-width: 100%;
}

.max-width-150 img {
  max-width: 150%;
}

.access-guide img {
  width: 400px;
  height: 300px;
}

p .access-img {
  margin-top: 10.5rem;
}

.standard-spacing {
  margin-left: 1rem;
  margin-right: 1rem;
}

.round {
  border-radius: 1rem;
}

/*
 * 番号なしリスト
 */
ul {
  list-style-type: disc;
  /* margin-left: 2.5rem;
  margin-right: 2.5rem; */
}

ul li {
  font-size: 1.6rem;
  /* margin-left: 2rem; */
  /* margin-right: 2rem; */
}

.section1 ul {
  margin-left: 1.6rem;
}

.section3 ul {
  margin-left: 3.2rem;
}

/*
 * 番号付きリスト
 * カウンタを利用して番号を振る
 */
ol {
  /* list-style-type: decimal;*/
  counter-reset: cnt;  /* カウンタをリセット */
}

.section1 ol {
  margin-left: 1.6rem;
}

.section3 ol {
  margin-left: 3.2rem;
}

ol li {
  font-size: 1.6rem;
  counter-increment: cnt;
}

ol li::marker {
  content: counter(cnt) ". ";  /* カウンタの値を表示 */
}

/*
 * テーブル (説明用)
 */
table.description {
  font-size: 1.6rem;
  border-collapse: collapse; /* 枠線が二重にならないようにする */
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

table.description th {
  border: 1px solid darkslategray; /* 枠線 */
  padding: 0.5rem;                 /* セル内の余白 */
  text-align: left;                /* 左寄せ */
  background-color: lightcyan; /* ヘッダの背景色 */
}

table.description td {
  border: 1px solid darkslategray; /* 枠線 */
  padding: 0.5rem;                 /* セル内の余白 */
  text-align: left;                /* 左寄せ */
  background-color: floralwhite;       /* セルの背景色 */
}

/*
 * ナビ (上部ナビに限らない)
 */
nav {
  font-size: 1.6rem;
}

/*
 * ショートカットナビゲーションの実装
 */
header nav {
  margin-top: 0rem; /* 上部マージンは無し */
  margin-bottom: 0.5rem;
}

header .navi {
  /* display: flex; */
  font-size: 1.4rem;
  text-align: center;
  background-color: inherit;
}

header .navi .current {
  background: #ccc;
  color: #fff;
}

header nav table {
  /* テーブルのセルがピッタリくっつくようにする */
  border-collapse: collapse;
}

header .navi td {  /* テーブルのセル */
  /* 細い灰色の枠線で囲む */
  border: 1px solid rgb(160 160 160);
  /* パディング: 上下に 8、左右に 10 */
  padding: 8px 10px;
}

/*
 * 強調表示
 */
.large {
  font-size: 2.5rem;
}

.alert {
  color: darkred;
}

/*
 * 疑似要素を利用した矢印
 */
.downarrow {
  position: relative;
  padding-left: 3rem;
}

.downarrow::before { /* くの字の表示設定 */
  content: "";
  margin: auto;
  position: absolute;
  top: 1.75rem;
  bottom: 0;
  left: 1.2rem;
  width: 1.1rem;    /* くの字を山なりに見た時、左側の長さ */
  height: 1.1rem;   /* くの字を山なりに見た時、右側の長さ */
  border-bottom: 0.25rem solid #000;     /* 下側 */
  border-right: 0.25rem solid #000;   /* 右側 */
  transform: rotate(45deg);    /* 時計回りに45度回転 */
}

.downarrow::after { /* 棒の表示設定 */
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1.62rem;
  width: 0.25rem; /* 棒の横幅 */
  height: 3.0rem; /* 棒の長さ */
  background: #000; /* 棒の色 */
}

/*
 * 交通ルート
 */
.route-start {
  margin-top: 0.3rem;
  /* margin-bottom: 0.3rem; */
}

.route-via {
  margin-top: 0.3rem;
}

.route-end {
  margin-top: 0.3rem;
  /* margin-bottom: 0.1rem; */
} 

.route-box {
  margin-left: 0rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  padding: 1rem;
  border-style: dotted;
  border-color: burlywood;
  /* border-color: lightblue; */
  border-radius: 1.5rem;
}

.route-name {
  font-size: 2.0rem;
  font-weight: 500;
}

div.jump-table {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  padding: 1rem;
  border-style: double;
  border-color: lightblue;
  /* border-color: lightblue; */
  border-radius: 1.5rem;
}

div.jump-table ul {
  margin-left: 2.0rem;
}

/*
 * 水平の区切り線
 */
hr {
  border:none;
  border-top:dashed 1px darkslategray;
  height:1px;
  width:100%;
}

/*
 * 文字を丸で囲む
 */
.circle {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  /* border: solid 0.1rem white; */
  color: white;
  /* background: #123293; */
  text-align: center;
  line-height: 2.5rem;
}

/*
 * キャンパスマップの説明
 */
.description-of-map tr {
  margin-bottom: 0.5rem;
}

.description-of-map td {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.description-of-map th {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: white;
  /* background: #123293;*/
  text-align: center;
  line-height: 2.5rem;
}

span.blue-bg {
  background-color: #123293;
}

span.green-bg {
  background-color: #63ae48;
}

.blue-bg th {
  background: #123293;
}

.green-bg th {
  background-color: #63ae48;
}

/*
 * センタリング
 */
p.center {
  text-align: center;
}

div.center {
  text-align: center;
}

summary {
  font-size: 2.0rem;
  font-weight: 500;
  color: #367cf6;
}

summary:hover {
  background-color: paleturquoise;
}

footer {
  border-top: dotted 1px darkslategray;
  position: fixed;
  bottom: 0;
  /** margin-left: 1rem;*/
  padding-left: 1rem;
  background-color: inherit;
  width: 100%;  /* 右端まで伸ばしておく */
  z-index: 10;  /* 隠されないようにする。10 という値は適当。 */
}

footer p {
  margin-top: 0.2rem;
}

/*
 * ショートカットナビゲーションの実装
 */
footer nav {
  margin-top: 0rem; /* 上部マージンは無し */
  margin-bottom: 0.5rem;
}

footer .navi {
  /* display: flex; */
  font-size: 1.4rem;
  text-align: center;
  background-color: inherit;
}

footer .navi .current {
  background: #ccc;
  color: #fff;
}

footer nav table {
  /* テーブルのセルがピッタリくっつくようにする */
  border-collapse: collapse;
}

footer .navi td {  /* テーブルのセル */
  /* 細い灰色の枠線で囲む */
  border: 1px solid rgb(160 160 160);
  /* パディング: 上下に 8、左右に 10 */
  padding: 8px 10px;
}

/* 
 * 図 (figure)
 */
figcaption {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

figure.full-width {
  margin-left: 0rem;
  margin-right: 0rem;
}